.icon {
  height: 1rem;
  position: relative;
  padding-left: 1.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;

  /* a tag 스타일 제거 */
  color: black;
  text-decoration: none;

  /* drag 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon.github::before {
  width: 1.5rem;
  height: 1.5rem;
  left: 0rem;
  top: 0rem;
  position: absolute;
  background-image: url(../images/GitHub.png);
  background-size: 1rem;
  background-repeat: no-repeat;
  content: " ";
}

@media screen and (max-width: 40rem) {
  .icon {
    height: 0.8rem;
    padding-left: 1rem;
    font-size: 0.8rem;
  }

  .icon.github::before {
    width: 1.6rem;
    height: 1.6rem;
    background-size: 0.8rem;
  }
}
