---
---

<section id="download">
  <h1>다운로드</h1>
  <ul class="group">
    <li class="box">
      <h2>Host <span>version 0.0.1</span></h2>
      <div class="label">다운로드</div>
    </li>
    <li class="box">
      <h2>Extension <span>version 0.0.1</span></h2>
      <div class="label">다운로드</div>
    </li>
  </ul>
</section>

<style>
  #download {
    position: relative;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #download h1 {
    text-align: center;
    font-size: 2rem;
  }

  #download li.box {
    width: 400px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    background-color: #d9d9d9;
    flex-direction: column;
    padding: 0px 40px;
    border: 1px solid #d9d9d9;
    user-select: none;
    cursor: pointer;
  }

  #download li.box:hover {
    background-color: white;
    border: 1px solid black;
  }

  #download li.box .label {
  }

  #download li.box h2 span {
    font-size: 1rem;
  }
</style>
