---
---

<a id="footer" href="#intro">
  <img src="/src/icons/logoMark.png" style="width: 2rem;" /> KETCH IN
</a>

<style>
  #footer {
    display: flex;
    font-size: 1.5rem;
    user-select: none;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: center;
  }

  #footer img {
    padding-right: 0.5rem;
  }
</style>
